.admin-layout {
  display: flex;
  min-height: 100vh; /* Ensure it takes full viewport height */
}

.admin-content {
  flex-grow: 1; /* Allows content to take remaining space */
  padding: 20px; /* Add some padding to the content area */
  background-color: #f4f7f6; /* Light background for content */
}
